name: ML CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      run: echo "Start CI"

    - name: Run actions/checkout@v4
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas

    - name: Set MLflow Tracking URI
      run: |
        export MLFLOW_TRACKING_URI=file:./mlruns

    - name: Run mlflow project
      run: |
        mlflow run MLProject --env-manager=local

    - name: Complete job
      run: echo "Done"
